{% extends 'base.html.twig' %}
{% set totalPrice = 0 %}
{% set pizzaSelected = 'Panier Vide' %}
{% set pizzaPrice = null %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto"><h2>Récapitulatif de votre commande !</h2>
                <div class="bg-light">
                    <div><h5>MA COMMANDE</div>

                        {% for pizza in pizzaToCart %}
                            <div class="col-lg-10 col-md-12 mx-auto">
                                <form action="/cart" name="sentMessage" method="post" novalidate>
                                    <input type="text" id="nbrPizza.{{pizza.id}}" name="nbrPizza.{{pizza.id}}" value ={{pizza.nbrPizza}} style='width:5%; text-align:center;'> x
                            </div>
                            {% set pizzaPrice = pizza.pizzaPrice * pizza.nbrPizza %}
                            <div class="col-lg-8 col-md-10 mx-auto">{{pizza.pizzaName }} {{pizzaPrice}} €</div>
                            {% set totalPrice = totalPrice + pizzaPrice %}
                        {% endfor %}

                        <div>Total = {{ totalPrice }} €</div>

                            <div><button class="btn btn-secondary btn-sm" id="modifyCart" name ='modifyCart'>Valider les modifications</button></div>
                                </form>
                        <form action="/home" name="sentMessage" id="contactForm" method="post" novalidate>
                            <div<button class="btn btn-secondary btn-lg btn-block" id="validateCart" name ='validateCart' style="margin-top: 10px;">Valider le panier</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


